@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&display=swap');

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  background-color: #fbfafa;
  font-family: 'Inter', 'Heebo', sans-serif;
}

/* General styles for <main /> */
main {
  padding: 0 1rem;
}

.semi-bold {
  font-weight: 600;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1.5rem;
}

.page-heading {
  margin: 2rem 0;
}

.page-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Flex utility */
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

/* Header component */
.header {
  padding: 1rem;
  background-color: #FFF;
}

.header--profile-picture {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}

/* Heading components */
.large-heading {
  font-size: 2rem;
  font-weight: 600;
}

.medium-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.section-heading {
  font-size: 1.25rem;
  font-weight: 600;

  margin-bottom: 0.75rem;
}

.card-heading {
  font-weight: 600;
}

/* Job Card component */
.job-card {
  background-color: #FFF;
  color: #6C727F;

  font-weight: 500;

  margin: 0.5rem 0;
  padding: 1.5rem 0.75rem;
  border-radius: 1rem;
}

.bg-gray {
  background-color: #FAFAFB;
}

.job-card h3 {
  color: #000;
  font-weight: 600;
}

.logo {
  align-self: baseline;

  width: 3.25rem;

  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

/* Paragraph component */
.paragraph {
  font-size: 0.75rem;
  line-height: 1.25;
}

/* Section component */
.section {
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 1rem;

  margin: 0.75rem 0;
}

/* Input component */
.input {
  color: #111827;
  background-color: #FFF;
  box-sizing: border-box;
  border: 2px solid #3263E9;
  border-radius: 1rem;
  font-size: inherit;
  padding: 0.75rem;
  width: 100%;

  margin-bottom: 0.75rem;
}

/* Filter badge component */
.filter-badge {
  font-size: 0.75rem;
  background-color: #FFF;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 0.25rem;
}

.filter-badge-active {
  color: #FFF;
  background-color: #3263E9;
}


.profile-header {
  display: flex;

  align-items: center;
}

.profile-header-picture {
  margin-top: 0.8rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.user_name {
  font-size: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

/* Menu compositions */

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 1.5rem;
  margin-left: 1rem;
  height: 100vh;
  width: 13rem;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.candidaturas-card {
  background-color: #FFF;
  color: black;
  margin: 0.75rem 0rem;
  padding: 1.5rem 0.75rem;
  border-radius: 1rem;

}


.cand-titulo {
  margin-bottom: 2rem;
  font-weight: 600;

}

.h1-cand {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.h2-cand {
  font-size: 1rem;
}


.cand-steps {
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
  align-items: center;

}

.cand-check {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  justify-content: center;
}

.icone {
  margin-right: 0.5rem;
}

.cand-write {
  padding-left: 0.5rem
}

.listing-header {
  margin-top: 2rem;
}

.listing-details {
  margin-top: 0.5rem;
}

.listing-logo {
  width: 3.25rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;

  align-self: baseline;
}

.anchor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Button component */
.btn {
  background-color: #3263E9;
  color: #FFF;

  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 1rem;
}

a {
  color: inherit;
}

#close-menu:hover {
  cursor: pointer;
}

.edit-prompt {
  margin-bottom: 0.5rem;
  color:#3263E9;
  display: flex;
  justify-content: center;
}

.edit-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.edit-wrapper:hover {
  cursor: pointer;
  text-decoration: underline;
}

.edit-icon {
  width: 0.75rem;
}

.gap-1 {
  gap: 0.25rem;
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.fieldset-select {
  margin: 0.75rem 0;
}

.select {
  color: #111827;
  background-color: #FFF;
  box-sizing: border-box;
  border: 2px solid #3263E9;
  border-radius: 1rem;
  padding: 0.75rem;
  font-size: inherit;
  width: 100%;
}

.form--labels {
  margin: 1rem 0;
}

.listing--go-back {
  margin-bottom: 1rem;
  color: #3263E9;
}

.listing--go-back:hover {
  text-decoration: underline;
}

/*

.input {
  color: #111827;
  background-color: #FFF;
  box-sizing: border-box;
  border: none;
  border-radius: 1rem;
  font-size: inherit;
  padding: 0.75rem;
  width: 100%;

  margin-bottom: 0.75rem;
}

*/